thead{
    background-color: chocolate;
    text-align: center;
    text-shadow: 2px 1px 1px ;
    

}
tbody{
    
    border-color:green;
    text-decoration: underline;
    text-shadow:2px 2px 2px;
    
}
table{
     border-color:aliceblue;
    border: 2px 2px 2px;
    border-style:dotted;
     
}
